{% extends 'layout/base.html' %}

{% block content%}
  <div class="container">
    <h1>mis productos</h1>

    {% if list_product %}

      <div class="px-2 py-2 mt-4 mb-4 just-flex border-purple-700">

        {% for listaProducto in list_product %}

          <div class="px-2 py-2 ml-2 mr-2 mb-4 shadow grow-1 col-3" width="18rem">
            <!-- Contenido de imagen producto -->
            <div class="row-7 border card-center">
              <img class="col-4 row-9" src="{{ listaProducto.url_img}}" alt="Not Found"height="180px">
            </div>

            <!-- Contenido de cuerpo porducto -->
            <div class="row-3 border-purple-700 mb-4">
              <h3 class="text-center mt-1"> {{ listaProducto.nombre }} </h3>
              <h4 class="text-center mt-1"> ${{ listaProducto.precio }}.00</h4>
              <h5 class="px-3 mt-1">Categoria:{{ listaProducto.categoria}} </h5>
              <p  class="px-2 py-1 mt-1 mb-1"> {{ listaProducto.descripcion }} </p>
            </div>

            <!-- Contenido de pie de producto, sección de botones -->
            <div class="row-2 Botones flexbox mt-1">
              <a class="btn btn-icon btn-icon-hover py-2 col-6 mr-1" href="#">
                <span class="icon material-symbols-outlined"> add_shopping_cart </span>
              </a>
              <a class="btn btn-icon btn-icon-hover py-2 col-6 ml-2" href="#">
                <span class="icon material-symbols-outlined"> attach_money </span> Buy
              </a>
            </div>
          </div>

        {% endfor %}

      </div>

    {% endif %}

  </div>
{% endblock %}
