<nav class="nav nav-blue">
  <div class="box_one">
    <ul class="nav-ul">
      <li class="nav-li"><a class="cw nav-link hover-nav-link" href="{{ url_for('loading.index')}}"          > Home </a></li>
      <li class="nav-li"><a class="cw nav-link hover-nav-link" href="{{ url_for('loading.users_list')}}"     > lista de personas </a></li>
      <li class="nav-li"><a class="cw nav-link hover-nav-link" href="{{ url_for('loading.create_product') }}"> Agregar nuevo producto </a></li>
      <li class="nav-li"><a class="cw nav-link hover-nav-link" href="{{ url_for('loading.get_product') }}"  > Lista productos </a></li>
      <li class="nav-li"><a class="cw nav-link hover-nav-link" href="{{ url_for('loading.register_user') }}" > logearme</a></li>
      <li class="nav-li"><a class="cw nav-link hover-nav-link" href="{{ url_for('loading.atraer_login') }}"  > Inicio de session</a></li>

    </ul>
  </div>
</nav>
